<div class="footer-wrap wf-section">
      <div class="newsletter-wrapper">
        <div class="subscribe-flex">
          <div>
            <p class="subscribe-text">{{ texts.46a504ca }}</p>
          </div>
          <div>
            <div shopify="newsletter-form" class="form-block-2 w-form">
              <form id="email-form" name="email-form" data-name="email" class="w-clearfix" data-netlify="true" data-ajax="true" data-content-type="application/x-www-form-urlencoded"><input type="email" class="text-field-17 w-input" maxlength="256" name="email" data-name="email" placeholder="Sign up now" id="email-2" required=""><input type="submit" value="Sign Up" data-wait="Please wait..." class="submit-button-3 w-button"></form>
              <div class="w-form-done">
                <div>{{ texts.5a0ea5a1 }}</div>
              </div>
              <div class="w-form-fail">
                <div>{{ texts.-7c112e99 }}</div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>