<div class="preloader wf-section">{%- image images.-4f9afb37.url, images.-4f9afb37.alt, '[]', 'width="150" height="70" class="logo-preloader"' -%}
    <div data-w-id="bce50fe6-f179-2dd3-283e-6c552986c2d6" data-animation-type="lottie" data-src="/assets/external/5e3be132807b8721620cf527_lf30_editor_n6xham.json" data-loop="0" data-direction="1" data-autoplay="1" data-is-ix2-target="0" data-renderer="svg" data-default-duration="2.9696361820138772" data-duration="0" class="lottie-animation-2"></div>
  </div>