<div data-w-id="dc855bcd-7523-d583-8df1-cb2e9f6c7f30" class="tag">
      <div class="product-wrap">
        <div class="left-wrap">
          <div class="banner-title-wrap">
            <div class="banner-title-2">{{ texts.-7426387d }}</div>
            <div class="banner-author-wrap">
              <a href="{{ links.7b36b18c }}" target="_blank" class="banner-author">{{ texts.24d1261a }}<span class="flowbase-underline"></span></a>
            </div>
          </div>
        </div>
        <div data-w-id="dc855bcd-7523-d583-8df1-cb2e9f6c7f40" class="banner-close-card">{%- image images.-386696bf.url, images.-386696bf.alt, '[]', 'width="15" height="15" class="banner-exit"' -%}</div>
      </div>
    </div>